<style>
a:link
{
	color: rgb(255,204,153); 
}
a:visited
{
	color: rgb(153,204,204); 
} 
a:active 
{
	color: rgb(102,255,153);
}
body
{
	background-color: rgb(102,153,204);
	color: rgb(204,255,255);
}
table
{
	table-border-color-light: rgb(153,204,255);
	table-border-color-dark: rgb(0,0,51); 
}
h1
{
	color: rgb(255,204,102);
}
h2
{
	color: rgb(153,255,255); 
}
h3
{
	color: rgb(153,255,204); 
}
h4
{
	color: rgb(255,204,102);
}
h5
{
	color: rgb(153,255,255);
}
h6
{
	color: rgb(153,255,204);
}
</style>.
