<style>
.mstheme
{
	nav-banner-image: url(werbanna.gif);
	separator-image: url(werhsepa.gif);
	list-image-1: url(werbul1a.gif);
	list-image-2: url(werbul2a.gif);
	list-image-3: url(werbul3a.gif);


	navbutton-horiz-normal: url(wernvhna.gif);
	navbutton-horiz-hovered: url(wernvhha.gif);
	navbutton-horiz-pushed: url(wernvhsa.gif);

	navbutton-vert-normal: url(wernvvna.gif);
	navbutton-vert-pushed: url(wernvvsa.gif);
	navbutton-vert-hovered: url(wernvvha.gif);

	navbutton-home-normal: url(werhomna.gif);
	navbutton-home-hovered: url(werhomha.gif);
	navbutton-home-pushed: url(werhomsa.gif);

	navbutton-next-normal: url(wernexna.gif);
	navbutton-next-hovered: url(wernexha.gif);
	navbutton-next-pushed: url(wernexsa.gif);

	navbutton-prev-normal: url(werprena.gif);
	navbutton-prev-hovered: url(werpreha.gif);
	navbutton-prev-pushed: url(werpresa.gif);

	navbutton-up-normal: url(werupbna.gif);
	navbutton-up-hovered: url(werupbha.gif);
	navbutton-up-pushed: url(werupbsa.gif);

}

.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: cneter;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
</style>.
