<style>
.mstheme
{
	separator-image: url(werhsepd.gif);
	list-image-1: url(werbul1d.gif);
	list-image-2: url(werbul2d.gif);
	list-image-3: url(werbul3d.gif);

	nav-banner-image: url(werbannd.gif);

	navbutton-horiz-normal: url(wernvhnd.gif);
	navbutton-horiz-pushed: url(wernvhsd.gif);

	navbutton-vert-normal: url(wernvvnd.gif);
	navbutton-vert-pushed: url(wernvvsd.gif);

	navbutton-home-normal: url(werhomed.gif);

	navbutton-next-normal: url(wernextd.gif);

	navbutton-prev-normal: url(werprevd.gif);

	navbutton-up-normal: url(werupbtd.gif);

}

.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
</style>.
