<style>
.mstheme
{
	top-bar-button: url(wernavgl.gif);
	version: 1.0;
	navbutton-background-color:  rgb(0,51,102);
}
.mstheme-topbar-font
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255,255,204);
}
body
{
	font-family: Garamond, Times New Roman, Times;
	background-image: url(wertilea.jpg); 
}

h1
{
	font-family: Verdana, Arial, Helvetica;
}
h2
{
	font-family: Verdana, Arial, Helvetica;
}
h3
{
	font-family: Verdana, Arial, Helvetica;
}
h4
{
	font-family: Verdana, Arial, Helvetica;
}
h5
{
	font-family: Verdana, Arial, Helvetica;
}
h6
{
	font-family: Verdana, Arial, Helvetica;
}
</style>.
